@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    padding: 1.25rem 0;
}

.logo {
    color: #49e534;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    margin: 0 auto;
    align-self: center;
    width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span {
    height: 3px;
    width: 2rem;
    border-radius: 2px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #87BBA2;
    position: relative;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.05);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 2rem;
    border-radius: 2px;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #87BBA2;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fff;
}

nav li:last-child {
    border: none;
}

nav button {
    background: transparent;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
}

nav button:focus {
    color: #87BBA2;
}

.nav-toggle:checked~nav button {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #87BBA2;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
        padding: 1rem 0;
    }
    .logo {
        grid-column: 2 / 3;
    }
    .logo img {
        width: 300%;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-bottom: 0;
        border-bottom: none;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        margin: 0;
        width: auto;
    }
    nav button {
        background: transparent;
        border: 2px solid #87BBA2;
        outline: none;
        border-radius: 1rem;
        position: relative;
        color: #87BBA2;
        font-size: 1.15rem;
        opacity: 1;
        width: 150px;
        padding: 0.2rem 0.3rem;
        z-index: 1;
        overflow: hidden;
    }
    nav button:hover {
        background: #87BBA2;
        color: #fff;
        transition: .3s ease-in-out;
    }
    nav a {
        opacity: 1;
        position: relative;
        color: #87BBA2  ;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: #87BBA2;
        border-radius: 3px;
        position: absolute;
        top: 1.4rem;
        left: 0;
        right: 0;
        margin: 0.5rem 1rem;
        transform: scale(0, 1);
        transition: transform ease-in-out 400ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

#landing_page_body{
    position: absolute;
    top: 35%;
    width: 100%;
}

#landing_heading{
    color: #49e534;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    padding: 0.5rem 0;
}

#searchbar_wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
}

#searchbar{
    background: #fff;
    width: 500px;
    height: 40px;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 90% 10%;
    border: 2px solid #87BBA2;
}

#searchbar_input {
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif; 
    background: transparent;
    font-size: 1rem;
    margin: 0 0 0 1rem;
    color: #87BBA2;
}

::placeholder{
    color: #87BBA2;
}

#search_icon{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom right, #87BBA2, #49e534);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 40px;
    cursor: pointer;
}

#bezier_curve{
    bottom: 0;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}